<!--会員側 物件一覧-->
<div class="container mt-5">
  <div class="row">
    <h2 class="px-3">物件一覧</h2>
    <!--検索用の部分テンプレート呼び出し-->
    <%= render 'searches/search' %>
  </div>
  <!--インデックスの部分テンプレート呼び出し-->
  <%= render 'public/properties/index', properties: @properties %>
</div>
<!--ページネーション機能-->
<div class="container mt-5">
  <div class="row">
    <div class="mx-auto">
　　　<p><%= paginate @properties %></p>
    </div>
  </div>
</div>
<!--ページネーションここで終わり-->