<!--会員側 物件新規登録画面-->
<div class="container mt-5">
  <div class="row">
    <div class="row col-sm-8 px-sm-0 offset-sm-1">
      <h2 class="px-3">物件情報新規登録</h2>
    </div>
  </div>
  <!--エラーメッセージの部分テンプレート-->
  <%= render "public/shared/error_messages", obj: @property %>
  <%= form_with model: @property, url:public_properties_path, method: :post, local:true do |f| %>
    <table>
      <!--info部分テンプレート呼び出し-->
      <!--部分テンプレートの中"f."が使えるように、使いたい変数ｆを受け渡す。-->
      <%= render 'info', {f: f, property: @property} %>
      <tr>
        <div class="form-action">
          <th><%= f.submit "新規登録", class:"btn btn-success" %></th>
        </div>
      </tr>
    </table>
  <% end %>
</div>
