<!--ブックマークの部分テンプレート-->
<div id="favorite_buttons_<%= property.id %>">
  <% if property.favorited_by?(current_customer) %>
    <!--remote: trueで非同期化-->
    <%= link_to public_property_favorite_path(property), method: :delete, remote: true do %>
      <i class="fas fa-bookmark"></i>
    <% end %>
  <% else %>
    <!--remote: true　非同期化-->
    <%= link_to public_property_favorite_path(property), method: :post, remote: true do %>
      <i class="far fa-bookmark"></i>
    <% end %>
  <% end %>
</div>