<!--会員側 ブックマーク一覧-->
<div class="container mt-5">
  <div class="row">
    <h2 class="px-3">ブックマーク一覧</h2>
  </div>
  <% if @favorite_properties.present? %>
    <!--検索用の部分テンプレート呼び出し-->
    <div class='col-md-14 offset-md-4'>
      <%= render 'searches/search' %>
    </div>

    <!--インデックスの部分テンプレート呼び出し-->
    <%= render 'public/properties/index', properties: @favorite_properties %>
    <!--ページネーション機能-->
    <div class="row">
      <div class="mx-auto">
        <p><%= paginate @favorite_properties %></p>
      </div>
    </div>
    <!--ページネーションここで終わり-->
  <% else %>
    <h4>ブックマークに追加した物件はありません。<br>ブックマークへ追加したい場合は、物件一覧画面、または物件詳細画面の「 <i class="far fa-bookmark"></i> 」を押して登録してください。</h4>
  <% end %>
</div>
